*{
    font-family: "Inconsolata", monospace;
}

body{
    background-color:rgb(0, 0, 0) !important;
    overflow: scroll;
}

#navbarNav a{
    color: rgb(147, 149, 151);
}
#navbarNav a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgb(140, 16, 16);  
    text-decoration-thickness: 3px; 

}
.navbar{
  
    padding: 5px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.nehal{
    color: rgb(255, 255, 255) !important;
    text-decoration: none!important;
    opacity: 0.6;
    font-size: 25px !important;
}
.nehal:hover{

    opacity: 1;
}
 .body{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
 }
 .row{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* padding-top: 0px; */
    color: rgb(147, 149, 151);
 }
.para{
    font-size: smaller !important;
    padding-top: 30px;
}
.photo{
    /* background-color: rgb(255, 0, 0); */
    height: 250px;
    width: 250px;
    /* overflow: hidden; */
    /* padding-top: 0px; */
}
.mypic{
     max-width: 100%; 
     height: 100%;
}

 .skills{
    height: 100px;
    width: 100px;
    /* background-color: aqua; */
 }

 .skillcontents{
    height: 100%;
    width: auto;
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
 }
 /* .skills i{
    height:100%;
    width: ;
    background-color: blue;
 } */
  /* .icons{
    font-size: 100px;
    color: white;
    transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
    
  } */
  .icons{
    font-size: 100px;
    /* font-weight: bold; */
    color: white;
    transition: color 0.2s ease, 0.5s ease,  0.5s ease;
    cursor: pointer;
    

  
}
    #icons1:hover{

    font-size: 105px;
    color: rgba(229,77,39,255);
 
    
  }
  #icons2:hover{

    font-size: 105px;
    color: rgba(38,76,229,255);
    
  }
  #icons3:hover{

    font-size: 105px;
    color: rgba(245,223,25,255);
    
  }
  #icons4:hover{

    font-size: 105px;
    color: rgba(136,19,252,255);
    
  }
 .about{
    display: flex;
    justify-content: space-between ;
 }
  .parar{
    font-size: smaller !important;
    width: 350px;
     /* width: 100%; */
  }
  .mypic2{
    height: 200px;
    width: 200px;
    object-fit: cover;

  }
  .photo2{
    height: 250px;
    width: 250px;
}
.prjct{
    /* width: 1000px; */
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.projects{
    height: 250px;
    width: 210px;
    background-color: rgb(27, 26, 26) ;
    border-radius: 11%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: color 0.2s ease, 0.5s ease,  0.5s ease;

}
.projects:hover{
    /* transform: translateY(-10px); */
    scale: 1.04;
    box-shadow: 0 10px 20px rgba(234, 7, 7, 0.3);

 }
/* .prjct2{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    
} */
.pro{
    padding-top: 5px;

    height: 160px;
    width: 200px;
    border-radius: 25px 25px 25px 25px;
    opacity: 0.8;
    /* border: 3px solid black ; */
    /* text-align: center; */

}
.cont{
display: flex;
flex-direction: column;
/* flex-wrap: wrap; */
border-radius: 11%;

 }  

 .head{
    color: rgb(140, 16, 16);
    padding-top: 3px;
 }
 .exp p{
    color: rgb(147, 149, 151);
    font-size: x-small;
    text-align: center;
    /* padding: 0.3px; */
 }
.con{
    background-color:rgb(27, 26, 26) ;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgb(56, 56, 56);;
}
.submit:hover{
    background-color: rgb(195, 5, 5) !important;
}
.lala{
    scale: 0.9;
}
.submit:hover{
    background-color: red;
    color: white;
}
